@import "tailwindcss";

*
{
  margin: 0;
  padding: 0;
}

html,
body
{
  overflow: hidden;
}

.webgl,
#root canvas
{
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  width: 100%;
  height: 100%;
}

#root
{
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  width: 100%;
  height: 100%;
}

.title
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  font-family: 'Snell Roundhand', serif;
  background: #000000;
  background: linear-gradient(to right, white 0%, #000000 50%, white 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    text-transform: uppercase;
  font-size: 7vmin;
  transform: translateZ(0);
}